html, body {
  min-height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.25rem 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.game-grid {
  padding: 1.25rem;
  border: 3px solid black;
  border-radius: 1rem;
  background-color: green;
  height: 100%;
  width: 100%;
  max-width: 600px;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border .1s;
  border: 3px solid black;
  border-radius: 1rem;
  aspect-ratio: .5/.75;
  min-height: 150px;
  user-select: none;
}

.face {
  background-color: white;
  font-size: 2rem;
}

.back {
  background: radial-gradient(circle closest-side, blue, purple);
}

.hidden {
  background: none;
  border: none;
}

.empty {
  border: 3px dotted white;
}

.selected {
  border: 3px solid yellow;
}

.controls {
  border: 3px solid black;
  border-radius: 1rem;
  background-color: green;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  min-height: 100px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

#deck {
  grid-column: 1;
}

#hand {
  grid-column: 2;
}

#discard {
  grid-column: 5;
}
