body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.25rem 0;
}

.grid-canon {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}

.game-grid {
  padding: 1rem;

  border: 3px solid black;
  border-radius: 1rem;
  background-color: green;

  aspect-ratio: .5/.7;
  height: 100%;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: border .1s;
  border: 3px solid black;
  border-radius: 1rem;

  cursor: pointer;
  user-select: none;

  min-width: 50px;
}

.face {
  padding: .25rem;
  background-color: white;
  font-size: 1.5rem;
}

.empty {
  padding: .25rem;
  border: 3px dotted white;
}

.selected {
  border: 3px solid yellow;
}

.back {
  padding: .25rem;
  background: radial-gradient(circle closest-side, blue, purple);
}

.hidden {
  background: none;
  border: none;
}

#deck {
  grid-column: 1;
}

#hand {
  grid-column: 2;
}

#discard {
  grid-column: 5;
}
